
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <link href="https://fonts.googleapis.com/css?family=Bangers|Francois+One|Quantico|Russo+One" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
      <title>MCU App - Home</title>
    </head>
    <body>
      {{> banner}}
      <div class="movies-display">
      {{#movies}}
        <div class="movie-select">
          <h4 class="movie-title"><a class="movie-title" href="/movies/{{link}}">{{title}} ({{year}})</a></h4>
          <img class="poster-home" src="/images/{{link}}.jpg">
        </div>
      {{/movies}}
      </div>
    </body>
  </html>
