
  /*Home Page*/

  body {
    background-color: #E2E2E2;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
  }

  .title-container {
    background-color: #1AE0E7;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 2vw;
    padding-left: 4vw;
    padding-bottom: 4vw;
  }

  .main-title {
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: 'Bangers', cursive;
    font-size: 5.5vw;
    color: #E51F16;
    text-shadow: .2vw .2vw white;
  }

  .subtitle-container {
    border-radius: 0vw 3vw 3vw 0vw;
    background-color: black;
    margin-top: -3vw;
    margin-bottom: 4vw;
    width: 65vw;
  }

  .movies-header {
    margin-top: 0%;
    margin-left: 8vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-family: 'Quantico', sans-serif;
    font-size: 2vw;
    color: #F3F30F;
  }

  .movies-display {
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    margin-left: 13vw;
  }

  .movie-select {
    width: 22vw;
    margin-right: 6vw;
    margin-bottom: 5vw;
  }

  .movie-title {
    font-family: 'Francois One', sans-serif;
    font-size: 1.23vw;
    color: #1531A2;
  }

  .poster-home {
    width: 15vw;
    border: 2px solid black;
    border-radius: .5vw .5vw .5vw .5vw;
    box-shadow: .25vw .25vw .25vw;
  }


  /*Movies Single Pages*/
  .column-body {
    display: flex;
    margin-top: 5vw;
    margin-left: 3vw;
  }

  .column-left {
    margin-right: 3vw;
  }

  .single-poster {
    width: 20vw;
  }
